body {
    font-size: 1em;
    line-height: 1.4;
    background: #6b6659;
}

section {
    padding: 2em;
}

#header {
    background: #bada55;
    padding: 2em;
    box-shadow: 0 0 15px
}

#header h1 {
    font-family: 'Bangers', cursive;
    font-size: 3em;
    margin: 0;
}

#header span {
    color: #6b6659;
}

#content .container {
    border: 1px solid #000;
}

#content button {
    display: none;
}

#content input {
    border: 0 none;
    outline: none;
    background: #cbcbba;
    padding: 0.25em 0;
    text-indent: 0.5em;
    width: 100%;
}

#content input::-webkit-input-placeholder {
    color: #6b6659
}

#content input:-moz-placeholder {
    color: #6b6659
}

#content input[placeholder]], [placeholder], *[placeholder] {
    color: #6b6659
}

#error {
    background: #d00;
    color: #fff;
    font-weight: bold;
}

#paper-container {
    background: #fff;
    overflow: auto;
    width: 100%;
}
