body {
    font-size: 1em;
    line-height: 1.4;
    background: #6b6659;
    margin-bottom: 1em;
}

a {
    color: #000;
}

section {
    padding: 2em;
}

header {
    background: #bada55;
    padding: 1.5em 2em;
    box-shadow: 0 0 15px
}

header h1 {
    font-family: 'Bangers', cursive;
    font-size: 3em;
    margin: 0;
    line-height: 1em;
}

header span {
    color: #6b6659;
}

#content .container {
    border: 1px solid #000;
}

#content button {
    display: none;
}

#content input {
    border: 0 none;
    outline: none;
    background: #cbcbba;
    padding: 0.25em 0;
    text-indent: 0.5em;
    width: 100%;
}

#content input::-webkit-input-placeholder {
    color: #6b6659
}

#content input:-moz-placeholder {
    color: #6b6659
}

#content input[placeholder]], [placeholder], *[placeholder] {
    color: #6b6659
}

#error {
    background: #d00;
    color: #fff;
    text-indent: 0.5em;
    font-weight: bold;
}

#paper-container {
    background: #fff;
    overflow: auto;
    width: 100%;
    text-align: center;
}

footer {
    padding: 0 2em;
    font-size: 12px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    border-right: 1px solid #000;
    padding: 0 5px;
}

footer ul li.last {
    border-right: 0 none;
}

footer img {
    vertical-align: middle;
}
